---
interface Props {
  href: string;
  variant?: "primary" | "secondary";
}

const { href, variant = "secondary" } = Astro.props;
---

<a class:list={["button", variant === "primary" && "button--primary"]} href={href}>
  <slot />
</a>
